*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: flex;
}
canvas{
    width: 70vw;
    height: 39.375vw; /*Mantaining a scale of 16:9*/
    border: 2px solid black;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.movement-button{
    height: 39.375vw;
    width: 30px;
    font-size: large;
    border-radius: 30px;
    background: aqua;
}
.shoot-button{
    width: 50vw;
    height: 30px;
    font-size: large;
    border-radius: 30px;
    background: aqua;
}
#reset-game{
    border-radius: 10px;
    padding: 3px;
    background-color: greenyellow;
}
#pause{
    font-size: 15px;
    padding: 0;
    background: none;
    border: none;
}
#pause:active{
    font-size: 10px;
}
#lives{
    color: darkred;
    font-weight: bolder;
}
.resource-images{
    display: none;
}
.interface-text{
    width: 15%;
}