*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
}
canvas{
    width: 70vw;
    height: 39.375vw; /*Mantaining a scale of 16:9*/
    border: 2px solid black;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.movement-button{
    height: 39.375vw;
    width: 30px;
}
.shoot-button{
    width: 50vw;
    height: 30px;
}
.resource-images{
    display: none;
}